{
  "presets": ["es2015", "react"],
  "plugins": [
    "transform-decorators-legacy",
    "transform-class-properties",
    "transform-object-rest-spread",
    [
      "transform-runtime",
      {
        "polyfill": false,
        "regenerator": true
      }
    ]
  ],
  "env": {
    "development": {
      "plugins": [
        ["module-resolver", {
          "alias": {
            "~": "./test/integration-test",
            "library": "./src"
          }
        }]
      ]
    },
    "production": {
      "plugins": [
        ["module-resolver", {
          "alias": {
            "~": "./test/integration-test",
            "library": "./src"
          }
        }]
      ]
    },
    "test": {
      "plugins": [
        ["module-resolver", {
          "alias": {
            "~": "./test/integration-test",
            "library": "./src"
          }
        }]
      ]
    }
  }
}
